#vision{

  height: auto;
  width: 100vw;


  .content-1{

    height: 100vh;
    background: yellow;

  }


  .content-2{

    height: 100vh;
    background: red;

  }

  .content-3{

    height: 100vh;
    background: blue;
    
  }

}
